@import '../../../mixin.scss';
.JobPost{
    &--upload{
        background-color: #0e4040;
        color: wheat;
        border-radius: 1rem;
        height: 4rem;
        width: 6rem;
        margin-right:1rem ;
    }
    &--reset{
        border-radius: 1rem;
        height: 4rem;
        width: 6rem;
    }
}